div(ng-include='"components/navbar/navbar.html"')


.row
  .col-lg-12      
    table.table(ng-controller='ItemlistCtrl')
      tr(ng-repeat='item in items')
        td
          img(ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item.id}}.png")
        td
          {{item.name}}