div(ng-include='"components/navbar/navbar.html"')


.container(ng-controller="MainCtrl")
	.container.chart-container
		canvas.chart.chart-bar(id="bar", data="data", options="options", labels="labels", series="series")
		
	.container.item-container
		.row.itemlist
			.list-items(ng-repeat="item in items|orderBy: 'name'")
				a(ng-href="#", ng-click="changeData(item.id);")
					img(ng-src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item.id}}.png", tooltip="{{item.name}}", id="item-{{item.id}}")
		