div(ng-include='"components/navbar/navbar.html"')


.container
  .row(ng-controller="ItemlistCtrl")
    .col-lg-6(ng-repeat="item in items | orderBy: 'name'")
      .col-lg-4.list-item
        img(ng-src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/{{item.id}}.png")
      .col-lg-8.item-stats
        p {{item.name}}
    